@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap');


:root{
    --primary-color: #A5F7F5;
    --secondary-color: #A7A2A9;
    --accent1-color: #575A5E;
    --accent2-color: #221674;

    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Open Sans', serif;

    --nav-background-color:#F092DD ;
    --nav-link-color: #9733E3;
    --nav-hover-link-color:#FFAFF0 ;
    --nav-hover-background-color: var(--nav-background-color);
}

h1,h2{
    font-family: var(--heading-font);
    color: rgb(17, 0, 255);
}

p{
    font-family: var(--paragraph-font);
}

body{
   max-width: 100%;
   
}



footer a:link{
    text-decoration: none;
}

footer a{
display: flex;
grid-column: 2;

}

footer p {
    justify-self: center;
}
.icons{ 
    display: flex;
    justify-content: flex-end;
}

footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.hero div{
    position: relative;
}
#background{
    display: block;
    width: 1000px;
    height: auto;
    opacity: 0.5;
}

.hero h1{
    position: absolute;
    left: 40px;
    top: 100px;
}

.hero article{
    position: absolute;
    left: 40px;
    top: 630px;
    max-width: 40%


}

article img{
    float: right;
}

.hero p {
    opacity: 10;
}


article{
    background-color: #575A5E;
    color: white;
    
}

header{
    
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 840px;
    background-color:rgb(0, 51, 94);
    padding: 0.5rem;
    font-weight: 700;
   
}

header img{
    margin: 0 0.25rem 0 1rem;
	width: 120px;
	height: auto;
}

nav{
    text-align: right;
    

}

.navigation{
    display: flex;
	list-style: none;
    
}

.navigation li{
    flex: 1 1 100%;
}
.navigation a {
    display: block;
	color: rgb(255, 255, 255);
	padding: 20px;
	text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}

.history h2{
    border-bottom: 1px solid black;
  
}

.history div{
    
    
}

.historyblock{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;;
    justify-items: center;
    background-color: #575A5E;
    color: white;
}
.history img{
    grid-column: 2;
}

.paragraph1{
    grid-column: 1;
    padding: 1rem;
    ;
}

.paragraph2{
    grid-column: 3;
    padding: 1rem;
}


.adventuredivision{
    display: flex;
    
}


figure img{
    height: 150px;
    
}

.todo{
    justify-items: center;;
}


/*ab0a8b*/