@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 51, 94);
    padding: 1rem;
}

nav a {
    color: rgb(255, 255, 255);
    display:block;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    color: steelblue;
}

img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main{
    grid-column: 2;
    padding: 10px;
    
    }

main p{
    padding: 2rem;
    font-size: 1.2rem;
}

aside{
    width: 250px;
    margin: 10px;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside p{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}

footer{
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;
}

body {
font-family: Roboto;
background-color: azure;
}
main img{
    width: 150px;
    height: auto;
    float: right;
}

h1{
    font-family: 'Rock Salt';
}

aside img{
    width: 200px;
    height: auto;
    
}

aside h2{
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(210, 212, 213);
}


/* Class Selectors */

.box{
    margin: 1rem;
    border: dotted 1px;
    padding: 1rem;
    background-color: rgb(88, 180, 180);
    color: black;
    
}

.box a{
    color: rgb(0, 0, 0);
}

header, footer, .grid{
    margin: 0 auto;
    max-width: 840px;
}


main h1{
    border-bottom:  1px solid blue;
    color: rgb(25, 0, 254);
    
}

.grid{
    display: grid;
    grid-template-columns: 20rem 1fr;
   
}



